# Node modules
node_modules/

# Next.js build output
.next/

# Build folders
dist/
build/

# Environment variables
.env
.env.local

# Editor / OS files
.vscode/
.idea/
.DS_Store/
.antigravity/   

# Logs
*.log

# npm cache
.npm